  body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', monospace;
  background-color: #0C2B4E;
  color: #fff;
}

.device {
  position: relative; 
  top: 30px;
  width: 500px;
  height: 600px;
  border-radius: 50px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  image-rendering: pixelated;  
  background-color: #1D546C ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: solid 3px #F4F4F4;

}


.screen {
  width: 300px;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border: solid 3px #1A3D64;
}

#feed-button, #sleep-button, #play-button {
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  background-color: #1A3D64;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
  cursor: pointer;
  font-weight: bold;
  color: #fff;
    font-family: 'Press Start 2P', monospace;
  }
  #feed-button:hover, #sleep-button:hover, #play-button:hover {
    background-color: #0C2B4E;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
  }

.stat-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px;
  position: relative;
}
.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 120px; 
}

.bar-container {
  width: 120px;
  height: 12px;
  background: #ddd;
  border-radius: 6px;
  overflow: hidden;
}

.bar {
  height: 100%;
  width: 100%;
  background-color: #4caf50;
  border-radius: 6px;
  transition: width 0.3s ease;
}

.stat-value {
  font-size: 12px;
  color: #fff;
}



#emotie {
  max-width: 220px;
  padding: 10px 14px;
  background-color: white;
  color: #222;
  font-size: 12px;
  border-radius: 16px;
  display: none;
  position: absolute;
  top: 20px;
}

#denkwolk-plezier, #denkwolk-honger, #denkwolk-slaap{
  display: none;
  position: absolute;
  left: 70%;
  top: -20px;
}

.age-container{
  position: absolute;
  top: 70%;
  left: 80%;
}
#age{
  position: relative;
  left: -15px;
}
#age-sub{
  position: absolute;
  color: #222;
  top: 50%;
  left: 45%;
}
#age-text{
  position: absolute;
  white-space: nowrap;
  top: 400px;
  left: 400px;
  display: none;
}
#game-over{
  position: absolute;
  display: none;
}

